{% load staticfiles %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'polls/stickyFooter.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'polls/comments.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap-markdown.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    
    {%block head%}{%endblock%}
    
    <title>POLLBOARD</title>
</head>
<body>
    <div class="modal fade" id="confirmIDModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmIDChange" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirm ID Change</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to change your ID?</p>
                    <p>You may get a pretty new color, and your nickname will stay the same, <b>but you will unable to modify polls made from a previous ID!</b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Never Mind</button>
                    <a href="{% url 'polls:login' %}?next={{ request.path|urlencode }}" type="button" class="btn btn-danger">Yes, change it</a>
                </div>
            </div>
        </div>
    </div>
    {%block modal%}{%endblock%}
    <h1 class="title">POLLBOARD</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                {% if messages %}
                    {% for m in messages %}
                        {%if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div class="alert alert-danger" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <b>ERROR:</b> {{m}}
                                </div>
                        {%elif m.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                            <div class="alert alert-warning" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <b>Warning:</b> {{m}}
                            </div>
                        {%else%}
                            <div class="alert alert-info" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{m}}
                            </div>
                        {%endif%}
                    {% endfor %}
                {%endif%}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-lg-2">
                {% if uid != 0 %}
                    <div class="panel panel-default panel-sidebar">
                        <div class="panel-heading"><h4>User Panel</h4></div>
                        <div class="panel-body">
                            <div>Your id is:</div>
                            <p style="color: #{{uid|slice:'6'}};">{%if nick %}<b>[{{ nick.name }}] </b>{%endif%}<span id="uid">{{ uid }}</span></p>
                            <p><a href="{% url 'polls:index' %}">Go Home</a></p>
                            <p><a a data-toggle="modal" data-target="#confirmIDModal">Get a new ID</a></p>
                            <p><a href="#nickform" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">Set a Nickname</a></p>
                            <div class="collapse" id="nickform">
                                <form action="{%url 'polls:nick' %}?next={{ request.path|urlencode }}" method="post">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input name="nick" type="text" class="form-control">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">Submit</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <p><a href="{% url 'polls:post' %}">Create a new poll</a></p>
                            {%block sidebar%}{%endblock%}
                        </div>
                    </div>
                {%block sidecolumn%}{%endblock%}
                {% else %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div>You need to <a href="{% url 'polls:login' %}?next={{ request.path|urlencode }}">login</a></div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-9 col-lg-10">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="text-center container">
            <p class="text-muted">Created by Isaac Avram. <a href="https://bitbucket.org/avrisaac555/pollboard/issues?status=new&status=open">Report issues and request new features here</a></p>
        </div>
    </footer>
</body>
</html>