{% extends "polls/base.html" %}
{% load staticfiles %}

{%block head %}
<script src="{% static 'polls/script.js' %}"></script>
<script src="{% static 'polls/markdown.js' %}"></script>
<script src="{% static 'polls/to-markdown.js' %}"></script>
<script src="{% static 'polls/bootstrap-markdown.js' %}"></script>
{%endblock%}

{%block sidecolumn %}
{%if author%}
<div class="panel panel-info panel-sidebar">
    <div class="panel-heading"><h4>Author Panel</h4></div>
    <div class="panel-body">
        <p><a data-toggle="modal" data-target="#confirmDeleteModal">Delete this poll</a></p>
    </div>
</div>
{%endif%}
{%if nick.name in admin_nicks%}
<div class="panel panel-info panel-sidebar">
    <div class="panel-heading"><h4>Admin Panel</h4></div>
    <div class="panel-body">
        <p><a data-toggle="modal" data-target="#confirmDeleteModal">Delete this poll</a></p>
        {%if question.sticky %}
        <p><a href="{% url 'polls:question_sticky' question.id %}?next={{ request.path|urlencode }}">Unsticky this poll</a></p>
        {%else%}
        <p><a href="{% url 'polls:question_sticky' question.id %}?next={{ request.path|urlencode }}">Sticky this poll</a></p>
        {%endif%}
    </div>
</div>
{%endif%}
{%endblock%}

{%block modal%}
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this poll?</p>
                <p><b>This action cannot be undone!</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Never Mind</button>
                <a href="{% url 'polls:question_delete' question.id %}" type="button" class="btn btn-danger">Yes, delete it</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}

{% block content %}
<div class="row">
    <div class="col-md-12 content-wrap">
        <h2 class="question-title">{{ question.question_text }}</h2>
        <p class="question-desc">{{ question.description|safe }}</p>
        {%if question.choice_set.all %}
        <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
            <div class='radio'>
                <label>
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                    {{ choice.choice_text }}
                </label>
            </div>
            {% endfor %}
            <input type="submit" value="Vote" />
        </form>
        {%endif%}
    </div>
</div>
<div class="row">
    <div class="col-md-7 content-wrap">
        <h3>Comments</h3>
        {% if question.comments.all %}
        {% for comment in question.comments.all %}
            <div class="comment" id="{{comment.id_txt}}">
                <div class="comment-submitter" style="color: #{{comment.id_txt|slice:'6'}}"> <b>{{comment.id_txt}}</b> -
                    <span class="nick{%if comment.submitter_nick in admin_nicks %} admin{%endif%}">{%if comment.submitter_nick %}[{{ comment.submitter_nick }}]</span>{%endif%}
                    <span class="uid" style="color: #{{comment.submitter|slice:'6'}}">{{comment.submitter|slice:'20'}}</span>
                    <span class="actions">{%if nick.name in admin_nicks%}<a href="{% url 'polls:comment_delete' comment.id_txt %}?next={{ request.path|urlencode }}" class="delete-btn">Delete</a>{%endif%} <a class="reply-btn" id="{{comment.id_txt}}">Reply</a></span>
                </div>
                <div>{{comment.text|safe}}</div>
            </div>
        {%endfor%}
        {% else %}
            <p> There are no comments</p>
        {%endif%}
    </div>
</div>
<div class="row">
    <div class="col-md-7 comment-form">
        <form action="{% url 'polls:comment' question.id %}" method="post">
            <div class="form-group">
                <h3 id="comment-box">Post a new comment</h3>
                {% csrf_token %}
                <textarea class="form-control" type="textarea" name="comment_text" rows="10" data-provide="markdown" data-resize="vertical" placeholder="Comment, basic HTML supported"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
{%endblock%}