{% extends "polls/base.html" %}

{% block content %}

{% if sticky_question_list %}
{% for question in sticky_question_list %}
    <div class="question sticky {% cycle '' 'highlighted' %}">
        <div class="question-id hidden-xs">[ {{question.id }} ]</div> 
        <div class="question-title" >
            <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
            <span style="color: #{{question.submitter|slice:'6'}}"> {%if question.submitter_nick %}<b>[{{ question.submitter_nick }}]: </b>{%endif%}{{question.submitter|slice:"6"}}</span>
            <div>{{question.tagline}}</div>
        </div>
    </div>
{%endfor%}
<br />
{%endif%}
{% if latest_question_list %}
{% for question in latest_question_list %}
    <div class="question {% cycle '' 'highlighted' %}">
        <div class="question-id hidden-xs">[ {{question.id }} ]</div> 
        <div class="question-title" >
            <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
            <span style="color: #{{question.submitter|slice:'6'}}"> {%if question.submitter_nick %}<b>[{{ question.submitter_nick }}]: </b>{%endif%}{{question.submitter|slice:"6"}}</span>
            <div>{{question.tagline}}</div>
        </div>
    </div>
{% endfor %}
{% else %}

<p> No questions available </p>

{% endif %}

{% endblock %}