{% extends "polls/base.html" %}
{% load staticfiles %}

{%block head%}
<script src="{% static 'polls/post.js' %}"></script>
{%endblock%}

{% block content %}
<div class="row">
    <div class="col-md-5">
        <form action="{% url 'polls:post' %}" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
                <div class="form-group">
                    <h3>Question</h3>
                    <p><input name="title" type="text" class="form-control" placeholder="Title (max: 200)" /></p>
                    <p><input name="tagline" type="text" class="form-control" placeholder="Tagline (max: 140)" /></p>
                    <p><textarea type="textarea" class="form-control" name="description" rows="6" placeholder="Description, basic HTML supported"></textarea></p>
                </div>
                <div id="choice-list" class="form-group">
                    <h3>Choices</h3>
                    <div class="input-group p-space">
                        <input name="choice" type="text" class="form-control" placeholder="Choice" />
                        <span class="input-group-btn">
                            <button id="add-btn" class="btn btn-success" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                        </span>
                    </div><!--/input-group -->
                </div><!--/form-group -->
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
{%endblock%}