.comment {
    margin-bottom: 10px;
}

.comment .img-container {
    margin-top: 12px;
    display: inline-block;
    position: relative;
}

.comment .imageHide {
    top: 3px;
    left: 3px;
}

.comment img {
    display: block;
    max-width: 300px;
    height: auto;
}

.comment-form {
    margin-top: 30px;
}

.comment-submitter {
    font-family: 'Anonymous Pro', monospace;
    border-bottom: black solid 1px;
    overflow: hidden;
}

.comment h1 {
    font-size: 30px;
}

.comment h2 {
    font-size: 24px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: 500 !important;
}

.comment h3 {
    font-size: 18px;
}

.comment h4 {
    font-size: 16px;
    font-weight: 700 !important;
    text-decoration: underline;
}

.comment h5 {
    font-size: 16px;
    color: #939393;
    text-decoration: underline;
}

.comment h6 {
    text-decoration: underline;
    font-weight: 700 !important;
}

.comment .actions {
    float: right;
}