html {
    position:relative;
    min-height:100%;
}

body {
    /* important because bootstrap sets margins to 0 */
    margin: 0 0 80px !important;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

footer > .container {
    padding-top: 20px;
}