@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700);

#uid {
    display: inline-block;
}

h2 {
    font-family: 'Anonymous Pro', monospace !important;
    font-weight: 700 !important;
}

.title {
    font-size: 3em;
    text-align: center;
    background-color: #A1B4C7;
}

.row-left-margin {
    /* Override bootstrap settings */
    margin-left: 0px !important;
    
    margin-right: -15px;
}

/* Fix a bug with bootstrap input group buttons an glyphicons */
.input-group-btn .glyphicon {
    line-height: 1.4258 !important;
}

.p-space {
    margin-bottom: 10px;
}

.content-wrap {
    word-break: break-all;
}

.panel-sidebar {
    word-break: break-all;
}

.question {
    font-family: 'Anonymous Pro', monospace;
    padding-bottom: 5px;
    padding-top: 5px;
}

.question-id {
    display:table-cell;
    vertical-align: middle;
    width: 64px;
    text-align: center;
}

.question-title {
    display: table-cell;
    padding-left: 5px;
}

.question-title > a {
    font-size: 23px;
    color: black;
    text-decoration: none;
}

.sticky, .sticky .question-title > a {
    font-weight: bold;
    color: #388e3c;
}

.sticky.highlighted {
    background-color: #DDEDDD;
    color: #388e3c;
}

.sticky.highlighted .question-title > a {
    color: #388e3c;
}

.question-title > span {
    font-weight: bolder;
}

.question-desc img {
    display: block;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 992px) {
    .question-title > a {
        font-size: 18px;
        color: black;
        text-decoration: none;
    }
}

@media screen and (max-width: 768px) {
    .question-title > span {
        display: block;
        font-weight: bolder;
    }
    
    h2.question-title {
        font-size: 24px;
    }
}

.highlighted {
    background-color: #DDE5ED;
}

.ref-popup {
    position: absolute;
    display: none;
    left: 0px;
    top: 0px;
    min-width: 200px;
    max-width: 50%;
    
    background-color: white;
    border: 1px solid black;
    padding: 2px;
}

.ref-popup .reply-btn {
    display: none;
}

.admin {
    font-weight: 700;
    background-color: #2B80CB;
    border-radius: 10px;
    border: 3px solid #2B80CB;
    color: white;
}